*{
    margin : 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.logo{
    width: 100px;
    height: 60;
    align-items: center;
    background-color: white;
}

.icon{
    background-image: url("Flipkart-logo.png");
    background-size: cover;
    font-size: 0.2rem;
    width: 100%;
    height: 42px;
    background-color: white;
}

.plus{
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.plus p {
    display: inline;
    font-size: 0.7rem;
    margin-right: 5px;
    background-color: white;
}


.plus-icon{
    background-image: url("https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/plus-brand-bc165b.svg");
    background-size: cover;
    width: 10%;
    height: 10px;
    background-color: white;
}

.search{
    margin-right: 10px;
    display: flex;
    justify-content:space-evenly;
    height: 40px;
    width: 500px;
    border-radius: 6px;
}

.search_text{
    width: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 0px 6px 6px 0px;
    background-color:rgb(239, 239, 252);
}

.search_text:focus {
    outline: none;
}

.search_icon {
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color:rgb(239, 239, 252);
    border-radius: 6px 0px 0px 6px;
    color: #0F1111;
}

.store-logo{
    background-color: white;
    font-size: 1.2rem;
}

.store-logo i{
    background-color: white;
}

.store-logo p{
    display: inline;
    font-size: 1.0rem;
    margin-left: 5px;
    background-color: white;
    font-weight: 100;
}

.user-logo{
    background-color: white;
    font-size: 1.2rem;
}

.user-logo i{
    background-color: white;
}

.user-logo p{
    display: inline;
    font-size: 1.0rem;
    margin-left: 5px;
    background-color: white;
    font-weight: 100;
}

.cart-logo{
    background-color: white;
    font-size: 1.2rem;
}

.cart-logo i{
    background-color: white;
}

.cart-logo p{
    display: inline;
    font-size: 1.0rem;
    margin-left: 5px;
    background-color: white;
    font-weight: 100;
}

.dots-logo{
    background-color: white;
    font-size: 1.2rem;
}

.dots-logo i{
    background-color: white;
}



.hero{
    padding: 15px;
}


.category{
    background-color: white;
    height: 145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: white;
}

.box p{
    background-color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.img-box{ 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img{
    height: 70px;
    width: 70px;
    background-color: white;
}

.img1{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/4f84f7cf33100b5d.png?q=100");
    background-size: cover;
}

.img2{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/72ec95ea3c99ee60.png?q=100");
    background-size: cover;
}


.img3{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/0dac5f7442d7fd5f.png?q=100");
    background-size: cover;
}


.img4{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/436cd6fc952ae1cb.png?q=100");
    background-size: cover;
}


.img5{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/eb336e40e5a1b6ec.png?q=100");
    background-size: cover;
}



.img6{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/f4f8f26cdeb86ce4.png?q=100");
    background-size: cover;
}


.img7{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/92b1f08861995c5f.png?q=100");
    background-size: cover;
}

.img8{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/92b1f08861995c5f.png?q=100");
    background-size: cover;
}

.img9{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/7f42ba8e79833eaa.png?q=100");
    background-size: cover;
}

.img10{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/96/96/image/898880c3805043b1.png?q=100");
    background-size: cover;
}


.ads{
    margin-top: 15px;
    height: 200px;
    background-color: white;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/2271fe2d05b8aa18.jpg?q=20");
    background-size: cover;
}

.bank-offers{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.bank-offers-img{
    width: 100%;
    height: 90px;
    background-image: url("c0b62e6c3d7b6203.webp");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.deals{
    margin-top: 15px;
    background-color: white;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deal-img{
    background-size:cover;
    width: 30%;
    height: 167px;  
}

.deals-img1{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/320/170/image/da5fb3e4cfe57be5.jpg?q=20");
}

.deals-img2{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/320/170/image/959bc5aa4c390ae8.jpg?q=20");
}

.deals-img3{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/320/170/image/cac9a62ac0c2c88f.jpg?q=20");
}

.best-mobiles{
    height: 80px;
    margin-top: 15px;
    background-color: white;
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.best-mobiles p{
    font-size: 1.3rem;
    margin-left: 20px;
    background-color: white;
}

.mobiles{
    background-color: white;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 5px 5px 5px;
}

.mob-box{
    width: 14%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
}

.mobile{
    background-color: white;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 180px;
    text-align: center;
}

.mob-img1{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/2/m/o/edge-40-pay40030in-motorola-original-imagpqzchzhg6fex.jpeg?q=60");
}

.mob-img2{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/l/8/d/-original-imagqadpnygfnn2v.jpeg?q=60");
}

.mob-img3{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/b/h/c/-original-imagth5xwrg4gfyp.jpeg?q=60");
}

.mob-img4{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/h/f/w/-original-imags37hy7uz2usv.jpeg?q=60");
}

.mob-img5{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/n/i/d/-original-imagpgx4erjqnpzx.jpeg?q=60");
}

.mob-img6{
    background-image: url("https://rukminim1.flixcart.com/image/340/340/xif0q/mobile/n/w/e/-original-imagtyw9fdfnsune.jpeg?q=60");
}

.mob-txt{
    margin-top: 10px;
    text-align: center;
}

.mob-txt p{
    background-color: white;
    font-size: 1rem;
}

.incl{
    font-size: 0.8rem;
    font-weight: 550;
}


.foot{
    background-color: #0F1111;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.cont-1{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    background-color: #0F1111;
}

.info{
    text-align:start;
    background-color: #0F1111;
    margin-top: 10px;
}

.info p{
    background-color: #0F1111;
    color: white;
    margin-top: 2px;
    font-size: 0.8rem;
    font-weight: 600;
}

.info h4{
    background-color: #0F1111;
    color: #878787;
    padding-bottom: 5px;
    font-weight: 200;
    font-size: 0.9rem;
}


.cont-2{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    background-color: #0F1111;
    border-left: 1px solid white;
}

.back{
    background-color: #0F1111;
}

.end{
    height: 70px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.end-1{
    font-size: 0.8rem;
}

.end-1 p{
    color: white;
    display: inline;
    padding-left: 10px;
}

.end-1 i{
    color: yellow;
}

.end-2{
    width: 40%;
    height: 23px;
}

.end-img{
    background-image: url("https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/payment-method-c454fb.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: #0F1111;
}

